<div class="d-flex justify-content-around align-items-center" style="width: 100vw;height: 100vh;">
    <div class="card shadow-sm login-card">
        <div class="card-body">
            <div class="text-center">
                <h2 class="m-0">Iniciar Sesion</h2>
                <p>Sistema de Gestion de Inventario</p>
            </div>
            <div class="mx-3 mb-2" form="login">cargando..</div>
        </div>
    </div>
</div>