<div class="w-full mx-auto">
    <div class="shadow md:w-96 mx-auto bg-white p-4 w-full">
        <form>
            <h2 class="text-2xl text-center mb-4">Iniciar Sesion</h2>
            <div class="mb-3"><input type="text" class="form-input rounded border-gray-400 w-full focus:border-primary" placeholder="Correo"></div>
            <div class="mb-3"><input type="password" class="form-input rounded border-gray-400 w-full focus:border-primary" placeholder="Contraseña"></div>
            <div><button class="btn btn-primary w-full">Iniciar Sesion</button></div>
        </form>
    </div>
</div>