<div class="d-flex justify-content-around align-items-center" style="width: 100vw;height: 100vh;">
    <h1>404</h1>
    <p>La pagina <a href="{{ page }}">{{ page }}</a> no existe</p>
    <a href="/">Volver a Inicio</a>
</div>