<div class="container my-3 pb-3">
  <div class="row card pb-4">
    <div class="col-12 d-flex">
      <div class="box flex-shrink-0">
        <img [src]="this.img" class="img-fluid">
      </div>
      <div class="title flex-fill mt-2">
        <h2 class="ml-3">{{ this.productInfo.name }}</h2>
      </div>
      <div class="float-right" style="margin-top: 10px;">
        <button mat-stroked-button class="mx-2" [class.bg-danger]="this.stockCount === 0" [class.text-light]="this.stockCount === 0">Stock: {{ this.stockCount }}</button>
      </div>
    </div>



  </div>

  <div class="row my-3 card">
    <div class="col-12 mt-3">
      <h3 class="d-inline-block">Descripsion</h3>
      <button mat-icon-button class="float-right" (click)="toggleDescriptionEdit(true)"><mat-icon style="font-size: 20px;">edit</mat-icon></button>
    </div>
    <div class="col-12">
      <p *ngIf="!descriptionEdit">{{ this.productInfo.description }}</p>
      <form [formGroup]="this.formDescription" *ngIf="descriptionEdit">
        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descripsion</mat-label>
        <textarea matInput [value]="this.productInfo.description" formControlName="d" maxlength="300"></textarea>
        <mat-hint>{{ this.formDescription.controls.d.value.length }}/300 Caracteres</mat-hint>
        <mat-error *ngIf="this.formDescription.controls.d.hasError('required')">Este campo es Requerido</mat-error>
        <mat-error *ngIf="this.formDescription.controls.d.hasError('maxLength')">La cantidad Maxima de caracteres es 300</mat-error>
      </mat-form-field>
        <div class="mb-3">
          <button mat-stroked-button color="warn" class="mr-2" (click)="toggleDescriptionEdit(false)">Cancelar</button>
          <button mat-flat-button color="primary" (click)="formDescriptionSubmit()">Guardar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row my-3 card">
    <div class="col-12 mt-3">
      <h3 class="d-inline-block">Caracteristicas</h3>
    </div>
    <div class="col-12 mb-2">
      <div class="row my-3" *ngFor="let c of this.feactures;let i = index">
        <div [class.col-4]="c.edit" [class.col-5]="!c.edit">
          <b *ngIf="!c.edit">{{ c.name }}</b>
          <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="w-100" *ngIf="c.edit">
            <mat-label>Nombre:</mat-label>
            <input matInput [placeholder]="c.name" [value]="c.name" type="text" required [id]="'reactName' + i">
          </mat-form-field>
        </div>
        <div [class.col-5]="c.edit" [class.col-6]="!c.edit">
          <span *ngIf="!c.edit">{{ c.value }}</span>
          <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="w-100" *ngIf="c.edit">
            <mat-label>Valor:</mat-label>
            <input matInput [placeholder]="c.value" [value]="c.value" type="text" required [id]="'reactValue' + i">
          </mat-form-field>
        </div>
        <div class="d-flex align-items-center" [class.col-3]="c.edit" [class.col-1]="!c.edit">
          <button mat-stroked-button class="d-block w-100 border-info text-info" *ngIf="c.edit === false" (click)="c.edit = true"><mat-icon>edit</mat-icon></button>
          <button mat-flat-button class="d-inline-block w" color="warn" *ngIf="c.edit === true" (click)="c.edit = false"><mat-icon>close</mat-icon></button>
          <button mat-flat-button class="d-inline-block w text-light bg-success" *ngIf="c.edit === true" (click)="this.changeFeacture(c.id, i)"><mat-icon>done</mat-icon></button>
          <button mat-stroked-button class="d-inline-block w" *ngIf="c.edit === true" (click)="this.deleteFeacture(i)"><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>

    <div class="col-12 my-2">
      <form [formGroup]="this.formFeactures">
        <div formArrayName="f">
          <div class="row" *ngFor="let a of this.formFeacturesFArray.controls; let i = index" [formGroupName]="i">
            <div class="col-5">
              <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="w-100">
                <mat-label>Nombre: </mat-label>
                <input matInput requerid type="text" formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field style="margin-bottom: -1.25em" appearance="outline" class="w-100">
                <mat-label>Valor: </mat-label>
                <input matInput requerid type="text" formControlName="value">
              </mat-form-field>
            </div>
            <div class="col-1 d-flex align-items-center">
              <button mat-flat-button class="d-block w-100" color="warn" (click)="this.formFeacturesDeleteItem(i)"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </div>
        <div class="text-right w-100">
          <button mat-flat-button color="primary" *ngIf="this.formFeacturesFArray.length !== 0" (click)="this.formFeacturesSubmit()">Guardar</button>
        </div>
      </form>
    </div>

    <div class="col-12 my-2 ">
      <button mat-stroked-button color="primary" (click)="this.formFeacturesAddItem()">Añadir Caracteristica</button>
    </div>
  </div>


  <div class="row my-3 card">
    <div class="col-12 mt-3">
      <h3 class="d-inline-block">Galeria</h3>
      <a mat-icon-button class="float-right" [routerLink]="'/product/' + this.activatedRoute.snapshot.params.id + '/media'"><mat-icon style="font-size: 20px;">launch</mat-icon></a>
    </div>
    <div class="col-12 galery pb-2">

      <div class="d-inline-block">
        <label for="galeryInput" class="w-100 input-file border shadow d-flex flex-column justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
            <mat-icon>add</mat-icon>
            <span class="ml-2">Añadir Imagen</span>
          </div>
          <mat-progress-bar mode="determinate" [value]="this.progress" class="w-75" class="mt-2 w-50"></mat-progress-bar>
        </label>
        <input type="file" id="galeryInput" class="d-none" (change)="this.changeGaleryEvent($event)">
      </div>
      <img [src]="g.url" [attr.data-label]="g.alt" [title]="g.alt" *ngFor="let g of this.galery;let i = index">
    </div>
  </div>


</div>
