<mat-toolbar *ngIf="this.isSearch === false">
  <span><a [routerLink]="this.dom.page.title.redirect" class="text-decoration-none text-dark">{{ this.dom.page.title.text }}</a></span>
  <span class="spacer"></span>

  <button mat-button (click)="this.isSearch = true"><mat-icon>search</mat-icon> <span class="d-none d-md-inline ml-1">Buscar</span></button>
  <button mat-button *ngIf="this.dom.page.menu.add" [matMenuTriggerFor]="NavbarAddMenu"><mat-icon>add</mat-icon> <span class="d-none d-md-inline ml-1">Añadir</span></button>
  <button mat-button *ngIf="this.dom.page.menu.profile" [matMenuTriggerFor]="NavbarProfileMenu"><mat-icon>account_circle</mat-icon> <span class="d-none d-md-inline ml-1">usuario</span></button>
</mat-toolbar>

<mat-toolbar *ngIf="this.isSearch === true">
  <button mat-icon-button (click)="this.resetReturnFormSearch()"><mat-icon>arrow_back</mat-icon></button>
  <span class="spacer"></span>
  <form class="d-flex w-100 justify-content-center" [formGroup]="this.formSearch" (submit)="this.submitFormSearch()">
    <input type="text" class="search-input" formControlName="search">
    <button mat-stroked-button type="submit"><mat-icon>search</mat-icon></button>
  </form>
  <span class="spacer"></span>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- menus -->

<mat-menu #NavbarAddMenu>
  <a mat-menu-item routerLink="/add/product" class="text-decoration-none text-dark"><mat-icon>add_box</mat-icon><span>Añadir Producto</span></a>
  <button mat-menu-item><mat-icon>person_add</mat-icon><span>Añadir Usuario</span></button>
</mat-menu>

<mat-menu #NavbarProfileMenu>
  <button mat-menu-item><mat-icon>person_outline</mat-icon><span>Mi Perfil</span></button>
  <button mat-menu-item><mat-icon>settings</mat-icon><span>Ajustes</span></button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="this.logout()"><mat-icon>save_alt</mat-icon><span>Cerrar Sesion</span>
  </button>
</mat-menu>
