<mat-toolbar>
  <span>{{ this.dom.page.title }}</span>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="NavbarAddMenu"><mat-icon>add</mat-icon> <span class="ml-1">Añadir</span></button>
  <button mat-button [matMenuTriggerFor]="NavbarProfileMenu"><mat-icon>account_circle</mat-icon> <span class="ml-1">usuario</span></button>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- menus -->

<mat-menu #NavbarAddMenu>
  <button mat-menu-item><mat-icon>add_box</mat-icon><span>Añadir Producto</span></button>
  <button mat-menu-item><mat-icon>person_add</mat-icon><span>Añadir Usuario</span></button>
</mat-menu>

<mat-menu #NavbarProfileMenu>
  <button mat-menu-item><mat-icon>person_outline</mat-icon><span>Mi Perfil</span></button>
  <button mat-menu-item><mat-icon>settings</mat-icon><span>Ajustes</span></button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="this.logout()"><mat-icon>save_alt</mat-icon><span>Cerrar Sesion</span>
  </button>
</mat-menu>
