<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <p>Agregar un nuevo producto en la Base de Datos</p>
    </div>
  </div>
  <div class="row my-3">
    <form class="col-12" [formGroup]="this.form" (submit)="this.submit()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre del Producto" type="text" formControlName="name">
        <mat-error *ngIf=" this.form.controls.name.hasError('required')">Este campo es Requerido</mat-error>
        <mat-error *ngIf=" this.form.controls.name.hasError('minLength')">Minimo 3 Caracteres</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Precio</mat-label>
        <input matInput placeholder="0" type="number" formControlName="price">
        <mat-error *ngIf=" this.form.controls.price.hasError('required')">Este campo es Requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Cantidad</mat-label>
        <input matInput placeholder="0" type="number" formControlName="cantidad">
        <mat-error *ngIf=" this.form.controls.price.hasError('required')">Este campo es Requerido</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descripsion</mat-label>
        <textarea matInput placeholder="Una descripsion del Producto..." formControlName="description"></textarea>
        <mat-error *ngIf=" this.form.controls.description.hasError('required')">Este campo es Requerido</mat-error>
        <mat-error *ngIf=" this.form.controls.description.hasError('maxLength')">Maximo 300 Caracteres</mat-error>
        <mat-hint>{{ this.form.controls.description.value.length }}/300 Caracteres</mat-hint>
      </mat-form-field>
      <div class="col-12 text-right">
        <button mat-flat-button color="primary" type="submit" [disabled]="this.isSubmit"><span class="d-inline-block">Agregar Producto</span><mat-spinner class="d-inline-block ml-2" diameter="16" mode="indeterminate" *ngIf="this.isSubmit"></mat-spinner> </button>
      </div>
    </form>
  </div>
</div>
