<div class="d-flex align-items-center justify-content-center" style="width: 100vw;height: 100vh;">
  <mat-card style="height: fit-content;min-width: 450px;">
    <h2 class="text-center my-3">Iniciar Sesion</h2>
    <p class="text-center">Sistema de Gestion de Inventario</p>
    <form class="w-100" [formGroup]="this.form" (submit)="this.submit()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Correo Electronico</mat-label>
        <input matInput placeholder="mi@correo.com" type="text" formControlName="e" required>
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="this.form.controls.e.hasError('required')">Este campo es Requerido</mat-error>
        <mat-error *ngIf="this.form.controls.e.hasError('minLength')">Minimo 3 caracteres</mat-error>
        <mat-error *ngIf="this.form.controls.e.hasError('email')"><b>{{ this.form.controls.e.value }}</b> no es un email</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="contraseña" type="password" formControlName="p" required>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="this.form.controls.p.hasError('required')">Este campo es Requerido</mat-error>
        <mat-error *ngIf="this.form.controls.p.hasError('minLength')">Minimo 5 caracteres</mat-error>
      </mat-form-field>
      <div class="text-right">
        <button mat-flat-button color="primary" [disabled]="this.isSubmit"><span class="d-inline-block">Iniciar Sesion</span><mat-spinner class="d-inline-block ml-2" diameter="16" mode="indeterminate" *ngIf="this.isSubmit"></mat-spinner> </button>
      </div>
    </form>
  </mat-card>
</div>
