@import "./components/navbar";

@import "./button";

*:focus{
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

app-root{
    @apply flex;
    @apply flex-col;
    @apply h-full;
}
app-layoutv1{
    @apply flex-1;
}