{{> navbar }}
<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <h5>Anadir Producto</h5>
            <p class="text-muted">Rellene la informacion basica del Producto</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" form="addProduct">
            {{> loading }}
        </div>
    </div>
</div>