{{> navbar}}
{{#ifObjectEmpty type}}
    el objecto esta vacio
{{else }}
    {{#if type.category}}
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h4>{{product.title}}</h4>
                <p>Cambio de Categoria</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12" form="productSetCategory" uid="{{ product.id }}">{{> loading}}</div>
        </div>
    </div>
    {{/if}}
    {{#if type.features}}
    features
    {{/if}}
{{/ifObjectEmpty}}